# Lottery Mobile Application #

This project is about programming functions that could be incoroprate into a mobile app which would enable its users to estimate their chances of winning the 6/49 lottery.

The goal is to build functions that anser various probability questions, such as:
- what is the probability of winning the big prize with a single ticket?
- what is the probability of winning the big prize if we play 40 different tickets  (or any other number)?
- What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

In [1]:
# function that calculates factorials (n! = n*(n-1)*(n-2)*...*2*1)
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

# function that calculates the number of calculations when sampling without replacement
def combinations(n,k):
    comb = factorial(n) / (factorial(k) * factorial(n-k))
    return comb

### Function That Computes the Probability of Winning the Big Prize for any Given Ticket ###

- the user inputs six different numbers from 1 to 49
- the six numbers will come as a Python list, which will serve as the single input to our function
- the function prints the probability value in a friendly way â€” in a way that people without any probability training are able to understand

In [2]:
def one_ticket_probability(user_numbers):
    tot_outcomes = combinations(49,6)
    one_ticket_prob = 1/tot_outcomes
    perc = one_ticket_prob*100
    print('''The probability to win the lottery for numbers {} is {:.7f}%.
That means you have 1 in {:,} chances to win!'''.format(user_numbers, perc, tot_outcomes))

In [3]:
# example
six_numb_list = [4,13,22,35,40,42]
one_ticket_probability(six_numb_list)

The probability to win the lottery for numbers [4, 13, 22, 35, 40, 42] is 0.0000072%.
That means you have 1 in 13,983,816.0 chances to win!

### The Canada 6/49 Lottery Historical Data ###

The data contains historical data for 3,668 drawings in Canadian Lottery, dating from 1982 to 2018, and it will enable the app users to see if they would have ever won by now using a certain combination of six numbers.

In [4]:
import pandas as pd
df = pd.read_csv('649.csv')

In [5]:
df.shape

(3665, 11)

In [6]:
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [7]:
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [8]:
# function that extract drawn nubers (columns 4 to 9) as sets
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

winning_numbers = df.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [19]:
# function that compare user's numbers to all the combinations drawn from 1982.
def check_historical_occurence(user_numbers, historical_numbers):
    user_numbers_set = set(user_numbers)
    numb_occur = user_numbers_set == historical_numbers
    numb_occur_sum = numb_occur.sum()
    if numb_occur_sum == 0:
        print('That combination never occured. The probability for it to ever comes up is 0.0000072%')
    else:
        print('That combination occured {} time(s). The probability to come up again is 0.0000072%'.format(numb_occur_sum))

In [20]:
test_user_combo_1 = [1,3,15,23,30,35]
check_historical_occurence(test_user_combo_1, winning_numbers)

That combination never occured. The probability for it to ever comes up is 0.0000072%

In [21]:
test_user_combo_2 = [1,6,23,24,27,39]
check_historical_occurence(test_user_combo_2, winning_numbers)

That combination occured 1 time(s). The probability to come up again is 0.0000072%

### Function That Computes the Probability of Winning the Big Prize for any Number of Different Tickets ###

- the user inputs the number of different tickets they want to play (without inputting the specific combinations they intend to play)
- the function prints out the probability of winning the big prize depending on the number of different tickets played

In [30]:
def multi_ticket_probability(tickets):
    tot_outcomes = combinations(49,6)
    succ_outcomes = tickets
    prob_perc = (succ_outcomes / tot_outcomes) * 100
    if tickets == 1:
        print ('''The probability of winning the big prize with only 1 ticket is {:.6f}%'''.format(prob_perc))
    else:
        print ('''The probability of winning the big prize with {:,} tickets is {:.6f}%'''.format(tickets,prob_perc))

In [31]:
numb_of_tickets = [1, 10, 100, 1000, 1000000]
for i in numb_of_tickets:
    multi_ticket_probability(i)

The probability of winning the big prize with only 1 ticket is 0.000007%
The probability of winning the big prize with 10 tickets is 0.000072%
The probability of winning the big prize with 100 tickets is 0.000715%
The probability of winning the big prize with 1,000 tickets is 0.007151%
The probability of winning the big prize with 1,000,000 tickets is 7.151124%